// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


@font-face {
    font-family: 'FranklinGothic';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/franklingothic-book.woff2') format('woff2'),
         url('/fonts/franklingothic-book.woff') format('woff');
}

@font-face {
    font-family: 'FranklinGothic';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/franklingothic-demi.woff2') format('woff2'),
         url('/fonts/franklingothic-demi.woff') format('woff');
}
