// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

$summary-image-size: 72px;

.episode-summary-list {
    margin-bottom: $layout-md;

    @media #{$mq-md} {
        margin-bottom: $layout-lg;
    }
}

.episode-summary {
    @include clearfix;
    clear: left;
    border-bottom: 2px solid $color-gray-20;
    padding: $layout-md 0 $layout-md;

    &:before {
        content: '';
        background-color: $color-gray-40;
        border-top: 0.4rem solid #fff; // make it even with the top of the text
        display: block;
        float: right;
        height: $summary-image-size;
        margin: 0 0 $spacing-md;
        width: $summary-image-size;
    }

    .episode + .episode-summary-list &:first-child {
        padding-top: 0;
    }
}

.episode-summary-title {
    @include text-body-lg;
    font-weight: bold;
}

.episode-summary-date {
    @include text-body-sm;
    display: block;
    font-weight: normal;
    margin: $spacing-xs 0;
}

.episode-summary-cta {
    white-space: nowrap;
}

@media #{$mq-sm} {
    .episode-summary-image {
        float: left;
        margin: 0 $spacing-md 1.25em 0;
    }

    .episode-summary-description {
        margin-bottom: 0;
        overflow: auto;
    }

    @supports(display:grid) {
        .episode-summary {
            display: grid;
            grid-template-columns: $summary-image-size auto;
            grid-column-gap: $spacing-md;

            &:before {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 3;
                margin: 0;
            }
        }

        .episode-summary-title,
        .episode-summary-description {
            grid-column-start: 2;
        }

        .episode-summary-date {
            display: inline;
            margin: 0;
            white-space: nowrap;
        }
    }
}

// position background sprite for episodes
.episode-summary {
    &:before {
        background-size: auto $summary-image-size;
    }

    @for $episode from 0 through 7 {
        &.S01E0#{$episode}:before,
        &.S02E0#{$episode}:before,
        &.S03E0#{$episode}:before,
        &.S04E0#{$episode}:before,
        &.S05E0#{$episode}:before {
            background-position: ($episode * $summary-image-size * -1) 0;
        }
    }

    // season 1
    &[class*='S01']:before {
        background-image: url('/images/S01.png');
    }

    &.S01B01:before {
        background-position: (8 * $summary-image-size * -1) 0;
    }

    &.S01B02:before {
        background-position: (9 * $summary-image-size * -1) 0;
    }

    // season 2
    &[class*='S02']:before {
        background-image: url('/images/S02.png');
    }

    // season 3
    &[class*='S03']:before {
        background-image: url('/images/S03.png');
    }

    // season 4
    &[class*='S04']:before {
        background-image: url('/images/S04.png');
    }

    // season 5
    &[class*='S05']:before {
        background-image: url('/images/S05.png');
    }
}
