// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

#header {
    background: #111;
    top: 0;
    color: #fff;
    height: 50px;
    left: 0;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;

    .content {
        padding: 10px 20px;
    }

    a,
    a:active,
    a:focus,
    a:hover,
    a:link,
    a:visited,
    a:visited:focus,
    a:visited:hover {
        color: #fff;
        text-decoration: none;
    }

    a:focus,
    a:hover,
    a:visited:focus,
    a:visited:hover {
        text-decoration: underline;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }
}
