// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

#newsletter-wrapper {
    box-shadow: 0 2px 24px 0 $color-gray-30;
    margin-top: $layout-lg;
    padding: $layout-xs;

    h2 {
        @include text-display-sm;
        margin-top: 0;
        margin-bottom: $spacing-lg;
    }
}

.form_input[type=email] {
    border: 1px solid $color-gray-50;
    padding: $spacing-md;
    width: 100%;
}

.form_group {
    margin-bottom: $spacing-sm;
}

.form_group-agree {
    label {
        font-weight: normal;
    }

    input {
        float: left;
        margin-right: $spacing-sm;
        margin-block-end: 0; // forms are hard
    }
}

.newsletter_promise {
    color: $color-gray-70;
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 1.2;
    margin-top: $spacing-lg;
}

.newsletter_errors {
    display: none; /* hide by default */
    background-color: rgba(0, 0, 0, 0.1); // incase it's on a white background
    box-shadow: 0 0 0 1px #ffffff; // incase it's on a black background
    margin-bottom: 20px;
    padding: 20px;

    > :last-child {
        margin-bottom: 0;
    }
}

.newsletter_thanks {
    display: none;
}

.js .js-collapse {
    #newsletter_privacy {
        display: none;
    }
}

@media #{$mq-md} {
    #newsletter-wrapper {
        padding: $layout-md;
    }

    @supports (display: grid) {

        .form_group {
            margin-bottom: 0;
        }

        .newsleter_primary {
            align-items: end;
            display: grid;
            grid-column-gap: $layout-sm;
            grid-row-gap: $spacing-md;
            grid-template-columns: 3fr 1fr;
        }

        #newsletter_submit {
            grid-column-start: 2;
            grid-row-start: 1;
        }

        #newsletter_privacy {
            grid-row-start: 2;

        }

    }
}

