{{ define "bodyID" }}episode-page{{ end }}

{{ define "main" }}
    <article class="episode-post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="content" itemprop="articleBody">
            {{/* The dot context below passes the entire episode object */}}
            {{ partial "episode-module.html" . }}

            {{ if isset .Params "shownotes" }}
                <h2 id="show-notes">Show Notes</h2>
                <a name="#shownotes"></a>

                {{/*
                    'replace' below is to ensure correct local link across local, dev, and prod URLs.
                    Front matter does not allow variables, so we need to do string substitution.
                */}}
                <p>{{ (replace .Params.showNotes "!!baseurl!!" .Site.BaseURL) | markdownify }}</p>
            {{ end }}

            <h2 id="transcript">Transcript</h2>
            <a name="#transcript"></a>

            <p>{{ .Params.Transcript | markdownify }}</p>

            <aside class="next">
                {{ with .NextInSection }}
                    <div class="next-next">
                        <span>Next episode</span>
                        <a class="next-next-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                {{ end }}

                {{ with .PrevInSection }}
                    <div class="next-prev">
                        <span>Previous episode</span>
                        <a class="next-prev-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                {{ end }}
            </aside>
        </div>
    </article>

    {{ if isset .Params "scripts" }}
        {{ range .Params.scripts }}
            <script src="/js/{{ index $.Site.Data.js.hash . }}"></script>
        {{ end }}
    {{ end }}
{{ end }}
