{% assign image_path = episode.number | prepend: "/assets/images/episodes/" | append: "/artwork.jpg" %}
{% assign image_path_high_res = episode.number | prepend: "/assets/images/episodes/" | append: "/artwork@2x.jpg" %}

<article class="episode" id="episode-{{ episode.number }}">
    <img src="{{ image_path | relative_url }}" srcset="{{ image_path_high_res | relative_url }} 2x" class="episode-image" alt="">

    <h2 class="episode-title">
        <a class="episode-link" href="{{ episode.url | relative_url }}">{{ episode.title | escape }}</a>
    </h2>

    <p>
        {{ episode.description | markdownify }}
    </p>

    <ul class="episode-links">
        <li><a href="#subscribe-links" class="episode-subscribe-link" data-subscribe-links="episode-{{ episode.number }}-subscribe-links">Subscribe</a></li>
        <li><a href="{{ episode.url | relative_url }}#show_notes" class="episode-shownotes-link" data-shownotes="episode-{{ episode.number }}-shownotes">Show Notes</a></li>
        <li><a href="" class="episode-share-link" data-share-links="episode-{{ episode.number }}-share-links">Share</a></li>
    </ul>

    <iframe src="{{ episode.embed }}?style=dark" seamless="" scrolling="no" width="100%" height="36px" frameborder="0"></iframe>

    <!-- the following are presented in modal windows -->
    <div class="modal-content-wrapper">
        <div class="episode-subscribe-links" id="episode-{{ episode.number }}-subscribe-links">
            {% include subscribe-links.html %}
        </div>
    </div>

    <div class="modal-content-wrapper">
        <div class="episode-share-links" id="episode-{{ episode.number }}-share-links">
            <h4>Episode {{ episode.number }} - {{ episode.title | escape }}</h4>
            {% assign episode_share_url = episode.url | absolute_url %}
            {% assign episode_share_text = episode.number | prepend: "IRL Podcast - Episode " | append: ": " | append: episode.title  %}
            {% include social-share-links.html share_url=episode_share_url share_text=episode_share_text %}
        </div>
    </div>

    <div class="modal-content-wrapper shownotes-modal-wrapper">
        <div class="episode-shownotes" id="episode-{{ episode.number }}-shownotes">
            <h4>Episode {{ episode.number }} - {{ episode.title | escape }}</h4>
            {{ episode.show_notes | markdownify }}
        </div>
    </div>
</article>
