<ul class="subscribe-links">
    <li>
        <a href=""><img src="{{ "/assets/images/apple-podcasts-badge.svg" | relative_url }}" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href=""><img src="{{ "/assets/images/spotify-badge.svg" | relative_url }}" alt="Subscribe on Spotify"></a>
    </li>
    <li>
        <a href=""><img src="{{ "/assets/images/radiopublic-badge.svg" | relative_url }}" alt="Subscribe on RadioPublic"></a>
    </li>
    <li class="rss-link">
        <a href="http://feeds.mozilla-podcasts.org/irl">Or, subscribe using RSS</a>
    </li>
</ul>
