// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

@import
    // Fonts
    'includes/fonts/zilla-slab',
    'includes/fonts/zilla-slab-highlight',

    // Base elements - general HTML elements
    'base/elements',

    // Components - specific purpose blocks with sub-elements and modifiers
    'components/modal',
    'components/newsletter',
    'components/sections',
    'components/footer';


a,
a:active,
a:link,
a:visited {
    color: #88429d;
    transition: color 0.2s ease;
}

a:focus,
a:hover,
a:visited:focus,
a:visited:hover {
    color: lighten(#88429d, 5%);
}

#mozilla-logo {
    @include background-size(100px 32px);
    @include image-replaced();
    background-image: url($baseurl + '/assets/images/moz-wordmark-dark-reverse.svg');
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    margin-bottom: 20px;
    width: 100px;
}

#site-header:after {
    @include gradient-horizontal(#ff00fd, 0%, #0e00cf, 100%);
    content: '';
    display: block;
    height: 2px;
    margin-top: 40px;
    visibility: visible;
    width: 100%;
}

.site-title {
    color: #000;
    text-decoration: none;

    &:active,
    &:link,
    &:visited {
        color: #000;
    }

    &:focus,
    &:hover,
    &:visited:focus,
    &:visited:hover {
        color: #000;
        text-decoration: none;
    }

    &:before {
        @include background-size(280px 280px);
        background-image: url($baseurl + '/assets/images/irl-logo-300px.png');
        content: '';
        display: block;
        height: 280px;
        margin-bottom: 20px;
        width: 280px;
    }

    @media #{$mq-high-res} {
        &:before {
            background-image: url($baseurl + '/assets/images/irl-logo-600px.png');
        }
    }
}

.subscribe-links {
    li {
        margin-bottom: 10px;
        text-align: center;
    }

    @media #{$mq-phone-wide} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            display: flex;
            flex: 0 0 50%;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    @media #{$mq-tablet} {
        li {
            flex-basis: 25%;
        }
    }
}

#modal .subscribe-links {
    display: block;

    @media #{$mq-tablet} {
        display: flex;
    }
}

#episode-list {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.episode-image {
    border: 1px solid #999;
}

.episode-title {
    @include font-size-level2();
    font-weight: normal;
    text-align: center;
}

.episode-links {
    display: flex;
    justify-content: space-around;
}

.modal-content-wrapper {
    // don't display titles inside of a modal wrapper
    // they should only be shown when inside of an actual modal
    h4 {
        display: none;
    }
}

.social-share-links {
    display: flex;
    justify-content: space-around;

    li {
        @include border-box();
        flex: 0 0 50%;
        margin: 0 10px;
        padding: 0 4px;

        a {
            background-size: 50px;
            display: block;
            height: 50px;
            margin: 0 auto;
            overflow: hidden;
            text-indent: 120%;
            width: 50px;
        }
    }
}

.twitter {
    background: url($baseurl + '/assets/images/twitter.svg') top left no-repeat;
}

.facebook {
    background: url($baseurl + '/assets/images/facebook.svg') top left no-repeat;
}

#footer {
    background: #111;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;

    a,
    a:active,
    a:focus,
    a:hover,
    a:link,
    a:visited,
    a:visited:focus,
    a:visited:hover {
        color: #fff;
        text-decoration: none;
    }

    a:focus,
    a:hover,
    a:visited:focus,
    a:visited:hover {
        text-decoration: underline;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }
}

// modal stuff
.transcript-modal-wrapper {
    display: none;
}

#modal {
    h4 {
        @include font-size-level3();
        margin-bottom: 20px;
        text-align: center;
    }
}

// JS enabled stuff
.js {
    .modal-content-wrapper,
    .transcript-modal-wrapper {
        display: none;
    }
}
