// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

@import
    // Fonts
    'includes/fonts/franklin-gothic',

    // Base elements - general HTML elements
    'base/elements',

    // Components - specific purpose blocks with sub-elements and modifiers
    'components/modal',
    'components/newsletter',
    'components/sections',
    'components/footer';


@mixin gradient-bar() {
    @include gradient-horizontal(#ff00fd, 0%, #0e00cf, 100%);
    content: '';
    display: block;
    height: 2px;
    margin-top: 20px;
    visibility: visible;
    width: 100%;
}

a,
a:active,
a:link,
a:visited {
    color: #88429d;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:focus,
a:hover,
a:visited:focus,
a:visited:hover {
    color: lighten(#88429d, 5%);
}

.page-content {
    padding-bottom: 70px; // makes up for height of fixed footer
}

.content p {
    @media #{$mq-tablet} {
        @include font-size(22px);
    }
}

#site-header {
    margin-top: 40px;
    padding-bottom: 0;
}

#mozilla-logo {
    @include background-size(100px 32px);
    @include image-replaced();
    background-image: url($baseurl + '/assets/images/moz-wordmark-dark-reverse.svg');
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 100px;
}

#site-intro {
    margin-bottom: 0;
}

#intro .content {
    &:after {
        @include gradient-bar();
    }

    .subscribe-links {
        margin-top: 20px;
    }

    @media #{$mq-tablet} {
        display: grid;
        grid-template: repeat(3, auto) / 300px auto;
        grid-template-areas: "logo title"
                             "logo intro"
                             "subscribe subscribe"
                             "gradient gradient";

        #site-logo {
            grid-area: logo;
        }

        #site-title {
            grid-area: title;
        }

        #site-intro {
            grid-area: intro;
        }

        .subscribe-links {
            grid-area: subscribe;
        }

        &:after {
            grid-area: gradient;
        }

        #site-title,
        #site-intro {
            padding-left: 20px;
        }
    }
}

.subscribe-links {
    li {
        margin-bottom: 10px;
        text-align: center;
    }

    @media #{$mq-phone-wide} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            display: flex;
            flex: 0 0 50%;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    @media #{$mq-tablet} {
        li {
            flex-basis: 25%;
        }
    }
}

// modal-specific styles
#modal {
    // subscribe links stack top to bottom in modal
    .subscribe-links {
        display: block;
        margin-top: 40px;

        li {
            margin-bottom: 20px;
            text-align: left;
        }
    }
}

#episode-list {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.episode {
    @media #{$mq-tablet} {
        display: grid;
        grid-template: repeat(4, auto) / 300px auto;
        grid-template-areas: "logo title"
                             "logo links"
                             "logo player";

        // align image to top right side of grid area
        .episode-image {
            grid-area: logo;
            margin-right: 20px;
        }

        .episode-title-wrapper {
            grid-area: title;
        }

        .episode-links {
            grid-area: links;
        }

        .episode-player {
            grid-area: player;
        }
    }
}

#episode-list {
    .episode-image {
        display: none;

        @media #{$mq-tablet} {
            display: block;
            border: 1px solid #999;
            align-self: start;
            height: 200px;
            justify-self: end;
            width: 200px;
        }
    }

    .episode-title-wrapper {
        display: block;
        padding-right: 50px;
        position: relative;

        &:active,
        &:link,
        &:visited,
        &:focus,
        &:hover,
        &:visited:focus,
        &:visited:hover {
            color: #000;
        }

        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 30px;
            background: url($baseurl + '/assets/images/episode-link-arrow.svg') right center no-repeat;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -15px;
            transform: translateX(-4px);
            transition: transform 0.2s ease;
        }

        &:hover {
            &:after {
                transform: translateX(0);
            }
        }

        @media #{$mq-tablet} {
            padding-right: 0;

            &:after {
                display: none;
            }
        }
    }

    .episode-player {
        display: none;

        @media #{$mq-tablet} {
            display: block;
        }
    }

    .episode-links {
        display: none;

        @media #{$mq-tablet} {
            display: flex;
        }
    }
}

.episode-title {
    @include font-size-level2();
}

.episode-links {
    display: flex;
    justify-content: space-around;

    a:before {
        background-position: left bottom;
        background-repeat: no-repeat;
        content: '';
        display: block;
        float: left;
        height: 20px;
        padding-right: 10px;
        width: 15px;
    }
}

.episode-subscribe-link:before {
    @include background-size(15px 15px);
    background-image: url($baseurl + '/assets/images/icon-subscribe.svg');
}

.episode-share-link:before {
    @include background-size(15px 18px);
    background-image: url($baseurl + '/assets/images/icon-share.svg');
}

.episode-links .episode-shownotes-link:before {
    @include background-size(18px 12px);
    background-image: url($baseurl + '/assets/images/icon-shownotes.svg');
    width: 18px;
}

.modal-content-wrapper {
    // don't display titles or modal copy inside of a modal wrapper
    // they should only be shown when inside of an actual modal
    h4,
    .modal-copy {
        display: none;
    }
}

.social-share-links {
    display: flex;
    justify-content: flex-start;

    li {
        @include border-box();
        flex: 0 0 auto;
        margin: 0 20px 0 0;
        padding: 0 4px;

        a {
            background: #000;
            border-radius: 50%;
            display: block;
            height: 70px;
            margin: 0 auto;
            overflow: hidden;
            text-indent: 120%;
            width: 70px;

            &:before {
                background-size: 50px;
                content: '';
                display: block;
                height: 50px;
                margin: 10px auto;
                width: 50px;
            }
        }
    }
}

.twitter:before {
    background: url($baseurl + '/assets/images/twitter.svg') top left no-repeat;
}

.facebook:before {
    background: url($baseurl + '/assets/images/facebook.svg') top left no-repeat;
}

#footer {
    background: #111;
    bottom: 0;
    color: #fff;
    height: 70px;
    left: 0;
    margin-top: 20px;
    position: fixed;
    width: 100%;

    a,
    a:active,
    a:focus,
    a:hover,
    a:link,
    a:visited,
    a:visited:focus,
    a:visited:hover {
        color: #fff;
        text-decoration: none;
    }

    a:focus,
    a:hover,
    a:visited:focus,
    a:visited:hover {
        text-decoration: underline;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }
}

// modal stuff
.transcript-modal-wrapper {
    display: none;
}

#modal {
    h4 {
        @include font-size-level3();
        margin-bottom: 20px;
        text-align: center;
    }
}

// about page
.credit {
    @include clearfix();
    margin-top: 20px;
}

.credits-image {
    display: block;
    height: 300px;
    margin-bottom: 20px;
    width: 300px;

    @media #{$mq-tablet} {
        float: left;
        margin-right: 20px;
    }
}

#pacific-content-credit-image {
    img {
        display: block;
        padding: 17px 0 0 50px;
    }
}

// episode page
#show-notes {
    padding-top: 20px;

    &:before {
        @include gradient-bar();
        margin-bottom: 20px;
    }
}

// JS enabled stuff
.js {
    .modal-content-wrapper,
    .transcript-modal-wrapper {
        display: none;
    }
}
