// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// section divider
@mixin section-divider {
    border-bottom: 2px solid $color-gray-20;
    padding-bottom: $layout-md;
    margin-bottom: $layout-md;

    @media #{$mq-md} {
        padding-bottom: $layout-lg;
    }
}

// white links
@mixin white-links () {
    a,
    a:active,
    a:focus,
    a:hover,
    a:link,
    a:visited,
    a:visited:focus,
    a:visited:hover {
        color: #fff;
        text-decoration: none;
    }

    a:focus,
    a:visited:focus {
        color: $color-off-black;
        background-color: #00ff00;
    }

    a:focus,
    a:hover,
    a:visited:focus,
    a:visited:hover {
        text-decoration: underline;
    }
}
