// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


$font-inter: Inter, sans-serif;
$font-brand: $font-inter;

$heading-font-stack: $font-brand;
$heading-font-size: 100%;
$heading-line-height: 1.1;

$base-font-stack: $font-inter;
$base-font-size: 100%;
$base-line-height: 1.5;

$irl-content-max: 650px;
