{{ define "bodyID" }}season-page{{ end }}

{{ define "main" }}
    {{ $.Scratch.Set "thisSeason" .Params.season }}

    <h1 class="page-title">Season {{ (.Scratch.Get "thisSeason") }}</h1>
    <section id="episodes">
        <div class="l-content">
            <ul id="episode-list">
                {{- range (where .Site.Pages "Type" "episodes").Reverse -}}
                {{ if eq (string .Params.season) (string ($.Scratch.Get "thisSeason")) }}
                    <li class="episode-list-item">
                        {{/* The dot context below passes the entire episode object */}}
                        {{ partial "episode-module.html" (dict "context" . "single" "false") }}
                    </li>
                {{ end }}
                {{- end -}}
            </ul>
        </div>
    </section>
{{ end }}
