{{/* Set some variables based on if its a episode/bonus/trailer */}}
{{/* This will need updating if we go above 9 seasons or episodes */}}
{{ if in .context.Params.seasonepisode "B" }}
    {{/* Bonus episode */}}
    {{ .context.Scratch.Set "episodeNumber" (printf "Bonus") }}
    {{ .context.Scratch.Set "imageFolder" (printf "S0%sB0%s" (string .context.Params.season) (strings.TrimPrefix "B" .context.Params.seasonepisode) ) }}
{{ else if eq (string .context.Params.seasonepisode) (string "0") }}
    {{/* Episode 0 are trailers */}}
    {{ .context.Scratch.Set "episodeNumber" (printf "Trailer" ) }}
    {{ .context.Scratch.Set "imageFolder" (printf "S0%sE0%s" (string .context.Params.season) (string .context.Params.seasonepisode) ) }}
{{ else }}
    {{/* Regular episode */}}
    {{ if eq .single "true" }}
        {{ .context.Scratch.Set "episodeNumber" (printf "Episode %s" (string .context.Params.seasonepisode)) }}
    {{ else }}
    {{ .context.Scratch.Set "episodeNumber" (printf "%s" (string .context.Params.seasonepisode)) }}
    {{ end }}
    {{ .context.Scratch.Set "imageFolder" (printf "S0%sE0%s" (string .context.Params.season) (string .context.Params.seasonepisode) ) }}
{{ end }}

{{ if lt .context.Params.season 5 }}
    {{ .context.Scratch.Set "embedSrc" "https://embed.simplecast.com/" }}
{{ else }}
    {{ .context.Scratch.Set "embedSrc" "https://player.simplecast.com/" }}
{{ end }}

{{ .context.Scratch.Set "host" (printf "w/ @Mozilla & @%s" (string .context.Params.host)) }}
{{ .context.Scratch.Set "imagePath" (printf "episodes/%s/artwork.png" (.context.Scratch.Get "imageFolder")) }}
{{ .context.Scratch.Set "imagePathHighRes" (replace (.context.Scratch.Get "imagePath") ".png" "-high-res.png") }}
{{ .context.Scratch.Set "itunesTracking" (printf "episode%s" (string .context.Params.number)) }}
{{ .context.Scratch.Set "rpTracking" (printf "episode%s-modal" (string .context.Params.number)) }}

{{ if eq .single "true" }}
<h1 class="page-title">{{ .context.Title }}</h1>
{{ end }}

<article class="episode" id="episode-{{ .context.Params.number }}">
    {{ if eq .single "true" }}
    <h2 class="episode-title">Season {{ (.context.Params.season) }}: {{ (.context.Scratch.Get "episodeNumber") }}</h2>
    {{ else }}
    <h2 class="episode-title">{{ (.context.Scratch.Get "episodeNumber") }}: <a href="{{ .context.Permalink }}">{{ .context.Title }}</a></h2>
    {{ end }}

    <div class="episode-image">
        <img src="/images/{{ .context.Scratch.Get "imagePath" }}" srcset="/images/{{ .context.Scratch.Get "imagePathHighRes" }} 2x" alt="">
    </div>

    <div class="episode-player">
        <div class="episode-player-wrapper">
            <iframe title="Listen to {{ .context.Title }}." class="lazy-load" frameborder="0" height="183px" scrolling="no" seamless src="" data-src="{{ (.context.Scratch.Get "embedSrc") }}{{ .context.Params.embed }}" width="100%"></iframe>
            <noscript>
                <iframe title="Listen to {{ .context.Title }}." frameborder="0" height="183px" scrolling="no" seamless src="{{ (.context.Scratch.Get "embedSrc") }}{{ .context.Params.embed }}" width="100%"></iframe>
            </noscript>
        </div>
    </div>

    <ul class="episode-actions">
        <li><button type="button" class="episode-subscribe mzp-c-button mzp-t-small mzp-t-product" data-subscribe-links="episode-{{ .context.Params.number }}-subscribe-links">Subscribe</button></li>
        <li><a class="episode-action icon icon-twitter" data-service="twitter" href="https://www.twitter.com/intent/tweet?url={{ .context.Permalink }}&amp;text=IRL Podcast: {{ .context.Title }} {{ .context.Scratch.Get "host" }}" data-link-type="social share" data-link-name="Twitter">Share on Twitter</a></li>
        <li><a class="episode-action icon icon-facebook" data-service="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .context.Permalink }}" data-link-type="social share" data-link-name="Facebook">Share on Facebook</a></li>
        <li class="js-action-copy">
            <a class="episode-action icon icon-copylink" data-service="copylink" href="{{ .context.Permalink }}" data-link-type="social share" data-link-name="copylink" data-clipboard-text="{{ .context.Permalink }}">Copy Link</a>
            <div class="episode-copy-ok">URL copied to clipboard</div>
        </li>
        <li><a class="episode-action icon icon-download" data-service="download" href="{{ .context.Params.mp3 }}" rel="external noopener noreferrer">Download MP3</a></li>
    </ul>

    <div class="episode-description">
        {{ .context.Params.description | markdownify }}
        {{ if eq .single "false" }}
        {{ if .context.Params.shownotes }}
            <a href="{{ .context.Permalink }}#show-notes" data-shownotes="episode-{{ .context.Params.number }}-shownotes" class="episode-shownotes-link mzp-c-cta-link">Show Notes</a>
        {{ end }}
        {{ end }}
    </div>

    <!-- the following are presented in modal windows if JS is enabled -->
    <div class="episode-subscribe-links" id="episode-{{ .context.Params.number }}-subscribe-links">
        {{ partial "subscribe-links.html" (dict "itunesTracking" (.context.Scratch.Get "itunesTracking") "rpTracking" (.context.Scratch.Get "rpTracking") "title" .Title) }}
    </div>

    {{ if eq .single "false" }}
    {{ if .context.Params.shownotes }}
    <div class="episode-shownotes" id="episode-{{ .context.Params.number }}-shownotes">
        {{/*
            'replace' below is to ensure correct local link across local, dev, and prod URLs.
            Front matter does not allow variables, so we need to do string substitution.
        */}}
        {{ (replace .context.Params.shownotes "!!baseurl!!" .Site.BaseURL) | markdownify }}
    </div>
    {{ end }}
    {{ end }}
</article>
