{{ $.Scratch.Set "imagePath" (printf "episodes/%s/artwork.png" (string .Params.number)) }}
{{ $.Scratch.Set "imagePathHighRes" (replace (.Scratch.Get "imagePath") ".png" "-high-res.png") }}
{{ $.Scratch.Set "itunesTracking" (printf "episode%s" (string .Params.number)) }}
{{ $.Scratch.Set "rpTracking" (printf "episode%s-modal" (string .Params.number)) }}
{{ if in .Params.number "B" }}
    {{ $.Scratch.Set "episodeNumber" (printf "Bonus Episode") }}
    {{ $.Scratch.Set "tweetPrefix" "IRL Podcast Bonus Episode" }}
{{ else if in .Params.number "T" }}
    {{ $.Scratch.Set "episodeNumber" (printf "Season %s Trailer" (string .Params.season) ) }}
    {{ $.Scratch.Set "tweetPrefix" "IRL Podcast" }}
{{ else }}
    {{ if and .Params.season .Params.seasonepisode }}
        {{ $.Scratch.Set "episodeNumber" (printf "Season %s Ep. %s" (string .Params.season) (string .Params.seasonepisode)) }}
    {{ else }}
        {{ $.Scratch.Set "episodeNumber" (printf "Episode %s" .Params.number) }}
    {{ end }}
    {{ $.Scratch.Set "tweetPrefix" (printf "IRL Podcast %s" (.Scratch.Get "episodeNumber")) }}
{{ end }}


<article class="episode" id="episode-{{ .Params.number }}">
    <div class="episode-image episode-view-single">
        <img src="/images/{{ .Scratch.Get "imagePath" }}" srcset="/images/{{ .Scratch.Get "imagePathHighRes" }} 2x" alt="">
    </div>
    <div class="episode-image episode-view-list">
        <a href="{{ .Permalink }}">
            <img src="/images/{{ .Scratch.Get "imagePath" }}" srcset="/images/{{ .Scratch.Get "imagePathHighRes" }} 2x" alt="">
        </a>
    </div>

    <a href="{{ .Permalink }}" class="episode-title-wrapper">
        <strong class="episode-number">
            {{ (.Scratch.Get "episodeNumber") }}
        </strong>

        <h2 class="episode-title">{{ .Title }}</h2>
    </a>

    <ul class="episode-links">
        <li class="episode-view-list"><a href="{{ printf "%s#subscribe-links-primary" .Permalink }}" class="episode-subscribe-link" data-subscribe-links="episode-{{ .Params.number }}-subscribe-links">Subscribe</a></li>
        <li class="episode-link-share"><a href="#" class="episode-share-link" data-share-links="episode-{{ .Params.number }}-share-links">Share</a></li>
        <li><a href="{{ .Params.mp3 }}" class="episode-download-link" rel="external noopener noreferrer">MP3</a></li>
    </ul>

    <div class="episode-player">
        <div class="episode-player-wrapper">
            <iframe class="lazy-load" frameborder="0" height="200px" scrolling="no" seamless src="" data-src="https://embed.simplecast.com/{{ .Params.embed }}?color=f5f5f5" width="100%"></iframe>
            <noscript>
                <iframe frameborder="0" height="200px" scrolling="no" seamless src="https://embed.simplecast.com/{{ .Params.embed }}?color=f5f5f5" width="100%"></iframe>
            </noscript>
        </div>
    </div>

    <section class="subscribe-links-wrapper episode-view-single">
        <h4>Subscribe:</h4>

        {{ partial "subscribe-links.html" (dict "itunesTracking" (.Scratch.Get "itunesTracking") "rpTracking" (.Scratch.Get "rpTracking") "title" .Title) }}
    </section>

    <div class="episode-description">
        <p>
            {{ .Params.description | markdownify }}
            {{ if .Params.showNotes }}
                <a href="{{ printf "%s#show-notes" .Permalink }}" class="episode-shownotes-link episode-view-list">Show Notes</a>
            {{ end }}
        </p>
    </div>

    <!-- the following are presented in modal windows -->
    <div class="modal-content-wrapper episode-view-list">
        <div class="episode-subscribe-links" id="episode-{{ .Params.number }}-subscribe-links">
            <p class="modal-copy">
                Subscribe to IRL. Because online life is real life.
            </p>

            {{ partial "subscribe-links.html" (dict "itunesTracking" (.Scratch.Get "itunesTracking") "rpTracking" (.Scratch.Get "rpTracking") "title" .Title) }}
        </div>
    </div>

    <div class="modal-content-wrapper">
        <div class="episode-share-links" id="episode-{{ .Params.number }}-share-links">
            <p class="modal-copy">
                {{ (.Scratch.Get "episodeNumber") }} - {{ .Title }}
            </p>

            <aside class="social-share-links" data-episode-title="{{ .Title | default "" }}">
                <ul>
                    <li><a class="twitter" data-service="twitter" href="https://www.twitter.com/intent/tweet?url={{ .Permalink }}&amp;text={{ (.Scratch.Get "tweetPrefix") }}: {{ printf "%s w/ @Mozilla & @Veronica" .Title }}" title="Twitter" data-link-type="social share" data-link-name="Twitter">Twitter</a></li>
                    <li><a class="facebook" data-service="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Facebook" data-link-type="social share" data-link-name="Facebook">Facebook</a></li>
                    <li><a class="copylink" data-service="copylink" href="{{ .Permalink }}" data-link-type="social share" data-link-name="copylink" data-clipboard-target="#episode-url-input-{{ .Params.number }}">Copy Link</a></li>
                </ul>

                <input readonly type="text" class="episode-url-input" id="episode-url-input-{{ .Params.number }}" value="{{ .Permalink }}">

                <div class="copy-ok">URL copied to clipboard</div>
            </aside>
        </div>
    </div>

    <div class="modal-content-wrapper shownotes-modal-wrapper">
        <div class="episode-shownotes" id="episode-{{ .Params.number }}-shownotes">
            <p class="modal-copy">
                Episode {{ .Params.number }} - {{ .Title }}
            </p>

            {{/*
                'replace' below is to ensure correct local link across local, dev, and prod URLs.
                Front matter does not allow variables, so we need to do string substitution.
            */}}
            {{ (replace .Params.showNotes "!!baseurl!!" .Site.BaseURL) | markdownify }}
        </div>
    </div>
</article>
