{{/* Set some variables based on if its a episode/bonus/trailer */}}
{{/* This will need updating if we go above 9 seasons or episodes */}}
{{ if in .Params.seasonepisode "B" }}
    {{/* Bonus episode */}}
    {{ $.Scratch.Set "episodeNumber" (printf "Bonus") }}
    {{ $.Scratch.Set "imageFolder" (printf "S0%sB0%s" (string .Params.season) (strings.TrimPrefix "B" .Params.seasonepisode) ) }}
{{ else if eq (string .Params.seasonepisode) (string "0") }}
    {{/* Episode 0 are trailers */}}
    {{ $.Scratch.Set "episodeNumber" (printf "Trailer" ) }}
    {{ $.Scratch.Set "imageFolder" (printf "S0%sE0%s" (string .Params.season) (string .Params.seasonepisode) ) }}
{{ else }}
    {{/* Regular episode */}}
    {{ $.Scratch.Set "episodeNumber" (printf "%s" (string .Params.seasonepisode)) }}
    {{ $.Scratch.Set "imageFolder" (printf "S0%sE0%s" (string .Params.season) (string .Params.seasonepisode) ) }}
{{ end }}

{{ $.Scratch.Set "imagePath" (printf "episodes/%s/artwork.png" (.Scratch.Get "imageFolder")) }}
{{ $.Scratch.Set "imagePathHighRes" (replace (.Scratch.Get "imagePath") ".png" "-high-res.png") }}
{{ $.Scratch.Set "itunesTracking" (printf "episode%s" (string .Params.number)) }}
{{ $.Scratch.Set "rpTracking" (printf "episode%s-modal" (string .Params.number)) }}

<li class="episode-summary {{ (.Scratch.Get "imageFolder") }}">
    <div class="episode-summary-title"><span class="episode-summary-number">{{ (.Scratch.Get "episodeNumber") }}:</span> <a href="{{ .Permalink }}">{{ .Title }}</a> <span class="episode-summary-date">{{ dateFormat "January 2, 2006" .Params.date }}</span></div>
    <p class="episode-summary-description">{{ .Params.ogdescription }} <a class="episode-summary-cta" href="{{ .Permalink }}">Listen now.</a></p>
</li>
