<header id="header">
    <div class="mzp-c-navigation">
        <div class="mzp-c-navigation-l-content">
            <div class="mzp-c-navigation-container">
            <button class="mzp-c-navigation-menu-button has-label" type="button" aria-controls="menu-site">Menu</button>
            <div class="mzp-c-navigation-logo"><a href="/">IRL</a></div>
            <div class="mzp-c-navigation-items" id="menu-site">
                <div class="mzp-c-navigation-menu">
                    <nav class="mzp-c-menu mzp-is-basic">
                        <ul class="mzp-c-menu-category-list">
                            <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
                                <a class="mzp-c-menu-title" href="#" aria-haspopup="true" aria-controls="menu-episodes">Episodes</a>
                                <div class="mzp-c-menu-panel" id="menu-episodes">
                                    <div class="mzp-c-menu-panel-container">
                                        <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-example">Close Episodes menu</button>
                                        <div class="mzp-c-menu-panel-content">
                                            <ul>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season1/">
                                                            <h4 class="mzp-c-menu-item-title">Season One</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season2/">
                                                            <h4 class="mzp-c-menu-item-title">Season Two</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season3/">
                                                            <h4 class="mzp-c-menu-item-title">Season Three</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season4/">
                                                            <h4 class="mzp-c-menu-item-title">Season Four</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season5/">
                                                            <h4 class="mzp-c-menu-item-title">Season Five</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season6/">
                                                            <h4 class="mzp-c-menu-item-title">Season Six</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mzp-c-menu-item ">
                                                        <a class="mzp-c-menu-item-link" href="/season7/">
                                                            <h4 class="mzp-c-menu-item-title">Season Seven</h4>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mzp-c-menu-category">
                                <a class="mzp-c-menu-title" href="/about/">About</a>
                            </li>
                            <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
                                <a class="mzp-c-menu-title" href="/about/#contact" aria-haspopup="true" aria-controls="menu-contact">Contact</a>
                                <div class="mzp-c-menu-panel" id="menu-contact">
                                    <div class="mzp-c-menu-panel-container">
                                        <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-example">Close Contact menu</button>
                                        <div class="mzp-c-menu-panel-content">
                                            <section class="mzp-c-menu-item ">
                                                <a class="mzp-c-menu-item-link" href="mailto:internethealth@mozillafoundation.org">
                                                    <h4 class="mzp-c-menu-item-title">General</h4>
                                                    <p class="mzp-c-menu-item-desc">
                                                    internethealth@mozillafoundation.org
                                                    </p>
                                                </a>
                                            </section>
                                            <section class="mzp-c-menu-item">
                                                <a class="mzp-c-menu-item-link" href="https://foundation.mozilla.org/en/press-center/">
                                                    <h4 class="mzp-c-menu-item-title">Press</h4>
                                                    <p class="mzp-c-menu-item-desc">
                                                        Visit our Press Center
                                                    </p>
                                                </a>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mzp-c-menu-category">
                                <a class="mzp-c-menu-title" href="https://donor.mozilla.org/page/irl-podcast">Donate</a>
                            </li>
                        </ul>
                    </nav>
        </div>
    </div>
    </div>
</div>
</div>
</header>
