<section class="c-intro">
    <div class="c-intro-main">

        <div class="c-intro-logo">
            <a href="https://www.mozilla.org/de/firefox/"><img src="/images/firefox.png" alt="Firefox" width="93" height="47"></a>
        </div>

        <h1 class="c-intro-title">IRL: Online Life is Real Life</h1>

        <div class="c-intro-desc">
            <p>
                Host Manoush Zomorodi shares real stories of life online and real talk about the future of the Web.
            </p>

            <p>
                IRL is an original podcast from Firefox.
            </p>
        </div>

        <section class="c-intro-subscribe">
            <strong>Subscribe:</strong>
            {{ partial "subscribe-links.html" (dict "subscribeLinksID" "subscribe-links-primary") }}
        </section>
    </div>
</section>
