<section class="c-intro">
    <div class="c-intro-main">

        <div class="c-intro-logo">
            <a href="https://www.mozilla.org/">
                <img src="/images/moz-logo-wb-rgb-black.svg" alt="Mozilla" width="95" height="27">
            </a>
        </div>

        <h1 class="c-intro-title">IRL: Online Life is Real Life</h1>

        <div class="c-intro-desc">
            <p>
                Mozilla’s multi-award winning podcast is back! "In Season 8, Bridget Todd explores how AI is reshaping our desires, our systems, and our futures—and the choices we still have to shape it back."
        </div>

        <section class="c-intro-subscribe">
            <strong>Follow:</strong>
            {{ partial "subscribe-links.html" (dict "subscribeLinksID" "subscribe-links-primary") }}
        </section>
    </div>
</section>
