<section class="c-intro">
    <div class="c-intro-main">

        <div class="c-intro-logo">
            <a href="https://foundation.mozilla.org/">
                <img src="/images/moz-logo-wb-rgb.svg" alt="Mozilla" width="95" height="27">
            </a>
        </div>

        <h1 class="c-intro-title">IRL: Online Life is Real Life</h1>

        <div class="c-intro-desc">
            <p>
                Host Bridget Todd shares real stories of life online and talks to the people building a healthier internet.
            </p>

            <p>
                IRL is an original podcast from Mozilla, the non-profit behind Firefox.
            </p>
        </div>

        <section class="c-intro-subscribe">
            <strong>Subscribe:</strong>
            {{ partial "subscribe-links.html" (dict "subscribeLinksID" "subscribe-links-primary") }}
        </section>
    </div>
</section>
