<ul class="subscribe-links" data-episode-title="{{/* .title | default "" */}}" id="{{/* .subscribeLinksID | default "" */}}">
    <li>
        <a href="https://geo.itunes.apple.com/podcast/us/id1247652431?mt=2&amp;at=1010lbVy&amp;ct=mozilla_{{ .itunesTracking | default "homepage" }}" rel="external" data-link-type="subscribe" data-service="iTunes" class="subscribe-link-apple"><img src="/images/subscribe-badge-apple-black.svg" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href="https://open.spotify.com/show/0vT7LJMeVDxyQ2ZamHKu08" rel="external" data-link-type="subscribe" data-service="Spotify" class="subscribe-link-spotify"><img src="/images/subscribe-badge-spotify-black.svg" alt="Subscribe on Spotify"></a>
    </li>
    <li>
</ul>
