<ul class="subscribe-links" data-episode-title="{{/* .title | default "" */}}" id="{{/* .subscribeLinksID | default "" */}}">
    <li>
        <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5tb3ppbGxhLXBvZGNhc3RzLm9yZy9pcmw" rel="external" data-service="Google" class="subscribe-link-google"><img src="/images/subscribe-badge-google.svg" alt="Subscribe on Google Podcasts"></a>
    </li>
    <li>
        <a href="https://geo.itunes.apple.com/podcast/us/id1247652431?mt=2&amp;at=1010lbVy&amp;ct=mozilla_{{ .itunesTracking | default "homepage" }}" rel="external" data-service="iTunes" class="subscribe-link-apple"><img src="/images/subscribe-badge-apple.svg" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href="https://open.spotify.com/show/0vT7LJMeVDxyQ2ZamHKu08" rel="external" data-service="Spotify" class="subscribe-link-spotify"><img src="/images/subscribe-badge-spotify.svg" alt="Subscribe on Spotify"></a>
    </li>
    <li>
        <a href="https://play.radiopublic.com/irl-online-life-is-real-life-6Bv5Op?utm_source=Mozilla&amp;utm_medium=irl-website&amp;utm_campaign={{ .rpTracking | default "header-badge" }}" rel="external" data-service="Radio Public" class="subscribe-link-radiopublic"><img src="/images/subscribe-badge-radiopublic.svg" alt="Subscribe on RadioPublic"></a>
    </li>
    <li>
        <a href="https://feeds.mozilla-podcasts.org/irl" data-service="RSS"><span class="rss-badge">RSS Feed</span></a>
    </li>
</ul>
