// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

/* classes don't match naming schem for other files because
I didn't want to alter the javascript that relies on them */

.newsletter_icon {
    height: 37px;
    width: 56px;
    margin-top: -4px;
}

.newsletter_errors {
    display: none; /* hide by default */
    margin-bottom: 20px;
    box-shadow: 0 0 0 1px #ffffff; // incase it's on a black background
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); // incase it's on a white background

    > :last-child {
        margin-bottom: 0;
    }
}

.newsletter_promise {
    display: block;
    @include font-size(14px);
}

.newsletter_thanks {
    display: none;
}

.newsletter-inline {
    #newsletter_email label {
        @include visually-hidden();
    }

    input[type=email],
    .button {
        width: 100%;
    }
}

/* hide the newsletter selection */
#newsletter_options {
    display: none;
}

.js .js-collapse {
    #newsletter_privacy,
    .newsletter_promise {
        display: none;
    }
}

@media #{$mq-tablet} {
    .newsletter:not(.newsletter-inline) {
        min-height: 50vh;
    }
}
