---
layout: default
id:     home
---

<section id="intro">
    <div class="content">
        <div id="site-logo">
            <img src="{{ "/assets/images/irl-logo-300px.png" | relative_url }}" srcset="{{ "/assets/images/irl-logo-600px.png" | relative_url }} 2x" alt="">
        </div>

        <div id="site-title">
            <h1>IRL: Because Online Life Is Real Life</h1>
        </div>

        <div id="site-intro">
            <p>
                Host Veronica Belmont shares real stories of life online and
                real talk about the future of the Web. IRL is an original
                podcast from Mozilla.
            </p>

            <p>
                IRL is an original podcast from Mozilla.
            </p>
        </div>

        {% include subscribe-links.html itunes_tracking="homepage" id="subscribe-links-primary" %}
    </div>
</section>

{% if site.categories.episodes %}
<section id="episodes">
    <div class="content">
        <ul id="episode-list">
        {% for episode in site.categories.episodes %}
            <li class="episode-list-item">
                {% include episode-module.html episode=episode %}
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<section id="more">
    <div class="content">
        <h3>More on the IRL Podcast</h3>

        <p>
            <a href="https://blog.mozilla.org/internetcitizen/category/IRL/">Get the 411 on IRL with Mozilla’s Internet Citizen Blog</a>
        </p>
    </div>
</section>
