// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

$font-path: '/fonts';
$image-path: '/images/protocol';

@import
    // Fonts
    'includes/fonts/inter',

    // Protocol
    '../../node_modules/@mozilla-protocol/core/protocol/css/base/elements.scss',
    '../../node_modules/@mozilla-protocol/core/protocol/css/components/button.scss',

    //
    'base/elements',

    // Helpers
    'includes/helpers',

    // Components - specific purpose blocks with sub-elements and modifiers
    'components/modal',
    'components/episode-summary',
    'components/episode',
    'components/episode-actions',
    'components/footer',
    'components/icons',
    'components/intro',
    'components/modal',
    'components/navigation',
    'components/newsletter',
    'components/next-prev',
    'components/page',
    'components/season-summary',
    'components/subscribe';

#mozilla-logo {
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 2;

    a {
        @include background-size(27px 97px);
        @include image-replaced();
        background-image: url('/images/mozilla-logo.png');
        background-repeat: no-repeat;
        display: block;
        height: 97px;
        width: 27px;
    }

    @media #{$mq-md} {
        left: 0;
        right: auto;
    }
}

// about page
.credit {
    @include clearfix();
    margin-top: 40px;
}

.credits-image {
    display: block;
    margin-bottom: 20px;
    min-width: 300px;

    @media #{$mq-md} {
        float: left;
        margin-right: 20px;
    }
}

.svg-about-image img {
    display: block;
    margin: 10px auto 0;
}
