// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import 'includes/mixins';
@import 'includes/variables';

.survey-banner {
    @include gradient-horizontal($start-color: #ff00ff, $end-color: #0001fe);
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;

    a,
    a:active,
    a:link,
    a:visited {
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        margin-left: 10px;
        padding: 1px 10px;
        transition: background-color 0.15s ease;
        white-space: nowrap;
    }

    a:focus,
    a:hover,
    a:visited:focus,
    a:visited:hover {
        background: rgba(255, 255, 255, 0.2);    
    }

    button {
        background: url('/images/survey-close.svg') top left no-repeat;
        background-size: 12px 12px;
        border: none;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 12px;

        span {
            @include visually-hidden();
        }
    }

    p {
        margin: 0;
        padding: 10px 0;
    }

    &.visible {
        display: block;
    }
}

@supports (transform: translateY(100px)) {
    .survey-banner {
        display: block;
        transform: translateY(200px);
        transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275);

        &.visible {
            transform: translateY(0);
        }
    }
}
