// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import 'includes/lib';

.survey-banner {
    @include gradient-horizontal($start-color: #ff00ff, $end-color: #2e2aa6);
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    padding-bottom: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 3;

    button {
        background: url('/images/survey-close.svg') center center no-repeat;
        background-size: 12px 12px;
        box-sizing: border-box;
        border-radius: 2px;
        border: 1px solid #fff;
        height: 18px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 18px;
        z-index: 1;

        &:focus {
            background-color: #000;
        }

        span {
            @include visually-hidden();
        }
    }

    p {
        font-weight: bold;
        margin: 0;
        padding: 10px 0;
    }

    &.visible {
        display: block;
    }
}

@supports (transform: translateY(100px)) {
    .survey-banner {
        display: block;
        transform: translateY(200px);
        transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &.visible {
            transform: translateY(0);
        }
    }
}
