@charset "UTF-8";
@font-face {
  font-family: 'FranklinGothic';
  font-weight: normal;
  font-style: normal;
  src: url("/irlpodcast/assets/fonts/franklingothic-book.woff2") format("woff2"), url("/irlpodcast/assets/fonts/franklingothic-book.woff") format("woff"); }
@font-face {
  font-family: 'FranklinGothic';
  font-weight: bold;
  font-style: normal;
  src: url("/irlpodcast/assets/fonts/franklingothic-demi.woff2") format("woff2"), url("/irlpodcast/assets/fonts/franklingothic-demi.woff") format("woff"); }
article, aside, details, figcaption, figure, footer, header,
hgroup, main, nav, section, summary {
  display: block; }

audio, video, canvas {
  display: inline-block; }

html, body, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, hr,
p, pre, blockquote, figure, figcaption,
table, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

blockquote, q {
  quotes: '' ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, iframe, a img {
  border: 0; }

input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

img, video, object, embed {
  -ms-interpolation-mode: bicubic;
  height: auto;
  max-width: 100%; }

html {
  font-size: 100%;
  background: #fff; }

body {
  font-size: 120%;
  background: #fff;
  border-top: 2px solid #fff;
  color: #000;
  font-family: "FranklinGothic", sans-serif;
  line-height: 1.5; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6, legend {
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 .25em; }

h1 {
  font-size: 38px;
  font-size: 2.375rem; }
  @media screen and (min-width: 760px) {
    h1 {
      font-size: 50px;
      font-size: 3.125rem; } }

h2 {
  font-size: 28px;
  font-size: 1.75rem; }
  @media screen and (min-width: 760px) {
    h2 {
      font-size: 38px;
      font-size: 2.375rem; } }

h3 {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media screen and (min-width: 760px) {
    h3 {
      font-size: 28px;
      font-size: 1.75rem; } }

h4 {
  font-size: 16px;
  font-size: 1rem; }
  @media screen and (min-width: 760px) {
    h4 {
      font-size: 21px;
      font-size: 1.3125rem; } }

h5, h6 {
  font-size: 16px;
  font-size: 1rem; }

p,
ul,
ol,
dl,
table {
  margin-bottom: 1.25em; }

a {
  color: #00a7e0;
  text-decoration: underline; }
  a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active {
    color: #0081ad;
    text-decoration: underline; }
  a:visited {
    color: #75bad1; }

ul, ol {
  list-style: none; }

ul.prose {
  list-style: disc;
  margin-left: 30px; }
  ul.prose ul {
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 0; }
  ul.prose ol {
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 0; }

ol.prose {
  list-style: decimal;
  margin-left: 30px; }
  ol.prose ol {
    list-style: lower-alpha;
    margin-left: 20px;
    margin-bottom: 0; }
  ol.prose ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 0; }

[dir='rtl'] ul.prose,
[dir='rtl'] ol.prose {
  margin-left: 0;
  margin-right: 30px; }
  [dir='rtl'] ul.prose ul,
  [dir='rtl'] ul.prose ol,
  [dir='rtl'] ol.prose ul,
  [dir='rtl'] ol.prose ol {
    margin-left: 0;
    margin-right: 20px; }

button,
input,
select,
textarea {
  font-family: inherit; }

textarea {
  height: auto;
  max-width: 100%; }

textarea,
input[type=email],
input[type=url],
input[type=tel],
input[type=password],
input[type=search],
input[type=text],
input[type=number],
input[type=date],
input[type=time] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  background: #fff;
  border-radius: .3em;
  border: 1px solid #b2b2b2;
  display: inline-block;
  line-height: 1.25;
  padding: .25em 10px; }

textarea:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input.focus {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  border-color: #42a4e0;
  box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4); }

select:focus {
  box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4); }

textarea:-moz-ui-invalid:not(output),
input[type=email]:-moz-ui-invalid:not(output),
input[type=password]:-moz-ui-invalid:not(output),
input[type=search]:-moz-ui-invalid:not(output),
input[type=text]:-moz-ui-invalid:not(output),
input[type=tel]:-moz-ui-invalid:not(output),
input.invalid {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  border-color: #a91300;
  box-shadow: 0 0 0 2px rgba(255, 80, 80, 0.4); }

@-webkit-keyframes pebbles-bounce-down {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@keyframes pebbles-bounce-down {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -500px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, 0, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  100% {
    transform: none; } }
@-webkit-keyframes pebbles-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes pebbles-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes pebbles-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes pebbles-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
html.noscroll {
  overflow: hidden;
  height: 100%; }
  html.noscroll body {
    height: 100%;
    overflow: hidden; }
  html.noscroll #modal {
    position: absolute; }

#modal {
  -webkit-animation: pebbles-fade-in 300ms ease-in 0ms 1 normal both;
  animation: pebbles-fade-in 300ms ease-in 0ms 1 normal both;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  height: 101%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999999; }
  #modal .window {
    color: #333;
    padding: 20px; }
    #modal .window .inner {
      margin: 0 auto;
      max-width: 600px;
      position: relative;
      background: #fff;
      padding: 40px;
      zoom: 1; }
      #modal .window .inner:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden; }
      #modal .window .inner > header {
        font-size: 28px;
        font-size: 1.75rem;
        display: block;
        font-weight: bold;
        height: auto;
        line-height: 1.3;
        min-height: 46px;
        padding-right: 60px; }
        @media screen and (min-width: 760px) {
          #modal .window .inner > header {
            font-size: 38px;
            font-size: 2.375rem; } }
      #modal .window .inner #modal-close {
        cursor: pointer;
        position: absolute;
        right: 9px;
        top: 9px;
        z-index: 99; }
        #modal .window .inner #modal-close a {
          display: none; }
        #modal .window .inner #modal-close .button {
          overflow: hidden;
          text-indent: 120%;
          white-space: nowrap;
          background: transparent url("/irlpodcast/assets/images/modal-close.svg") center center no-repeat;
          -webkit-background-size: 14px 14px;
          background-size: 14px 14px;
          border: none;
          height: 30px;
          min-width: 0;
          padding: 0;
          width: 30px; }
          #modal .window .inner #modal-close .button:hover, #modal .window .inner #modal-close .button:focus {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: none; }
      #modal .window .inner .overlay-contents {
        background: transparent;
        margin: 0 auto; }
        #modal .window .inner .overlay-contents img, #modal .window .inner .overlay-contents iframe {
          max-width: 100%; }
        #modal .window .inner .overlay-contents ul {
          margin-bottom: 0; }

/* Tweaks for RTL locales */
html[dir="rtl"] #modal .window .inner #modal-close {
  left: 9px;
  right: auto;
  text-align: left; }

@media screen and (min-width: 1000px) {
  #modal .inner {
    margin: 20px auto 60px; }
    #modal .inner .footer {
      zoom: 1;
      padding-left: 30px;
      padding-right: 30px; }
      #modal .inner .footer:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden; }
      #modal .inner .footer div {
        padding: 0; }
        #modal .inner .footer div:first-child {
          margin-left: 0; }
        #modal .inner .footer div:last-child {
          margin-right: 0; } }
@supports (display: flex) {
  @media screen and (min-width: 760px) {
    #modal {
      align-items: center;
      display: flex;
      justify-content: center; } } }
#newsletter-wrapper {
  background-image: url("/irlpodcast/assets/images/newsletter-bg.png");
  background-size: auto auto;
  -webkit-background-size: 1256px 515px;
  background-size: 1256px 515px;
  background-position: top left;
  color: #fff;
  padding: 30px 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    #newsletter-wrapper {
      background-image: url("/irlpodcast/assets/images/newsletter-bg-high-res.png");
      background-size: auto auto; } }
  #newsletter-wrapper input[type=email],
  #newsletter-wrapper .button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  #newsletter-wrapper input[type=email] {
    border-radius: 0; }
  #newsletter-wrapper .button {
    font-size: 22px;
    font-size: 1.375rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px 0;
    padding: 8px 0;
    transition: background-color 0.2s ease, color 0.2s ease; }
    #newsletter-wrapper .button:hover {
      background: #fff;
      color: #000; }
  @media screen and (min-width: 760px) {
    #newsletter-wrapper {
      padding: 40px; } }

@media screen and (min-width: 760px) {
  #newsletter-inner-wrapper {
    width: 450px; } }

#newsletter_privacy {
  margin-top: 10px; }

.newsletter_errors {
  display: none;
  /* hide by default */
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px #ffffff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1); }
  .newsletter_errors > :last-child {
    margin-bottom: 0; }

.newsletter_promise {
  display: block;
  font-size: 14px;
  font-size: 0.875rem; }

#newsletter_email label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  /* !important required to ensure element is hidden when mixin is applied */
  position: absolute !important;
  /* stylelint-disable-line declaration-no-important */
  width: 1px; }

.newsletter_thanks {
  display: none; }

/* hide the newsletter selection */
#newsletter_options {
  display: none; }

#privacy-policy-link-wrapper {
  margin-top: 10px;
  text-align: center; }

.js .js-collapse #newsletter_privacy,
.js .js-collapse .newsletter_promise {
  display: none; }

.section,
.content {
  zoom: 1;
  position: relative; }
  .section:after,
  .content:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  min-width: 300px; }
  @media screen and (min-width: 760px) {
    .content {
      width: 740px; } }
  @media screen and (min-width: 1000px) {
    .content {
      width: 860px; } }

a,
a:active,
a:link,
a:visited {
  color: #88429d;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease; }

a:focus,
a:hover,
a:visited:focus,
a:visited:hover {
  color: #984aaf; }

ol {
  list-style-type: numeric;
  margin-left: 20px; }
  ol li {
    padding-left: 10px; }

.page-content {
  padding-bottom: 20px; }

@media screen and (min-width: 760px) {
  .content p {
    font-size: 22px;
    font-size: 1.375rem; } }

#site-header {
  margin-top: 60px;
  padding-bottom: 0; }

#mozilla-logo {
  -webkit-background-size: 100px 32px;
  background-size: 100px 32px;
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
  background-image: url("/irlpodcast/assets/images/moz-wordmark-dark-reverse.svg");
  background-repeat: no-repeat;
  display: block;
  height: 32px;
  width: 100px; }

#site-intro {
  margin-bottom: 0; }

#intro .content {
  padding-bottom: 0; }
  #intro .content:after {
    background-image: -webkit-linear-gradient(left, #ff00fd 0%, #0e00cf 100%);
    background-image: linear-gradient(to right, #ff00fd 0%, #0e00cf 100%);
    content: '';
    display: block;
    height: 2px;
    margin-top: 20px;
    visibility: visible;
    width: 100%; }
  @media screen and (min-width: 760px) {
    #intro .content {
      display: grid;
      grid-gap: 0 20px;
      grid-template: repeat(3, auto)/280px auto;
      grid-template-areas: "logo title" "logo intro" "logo subscribe" "gradient gradient"; }
      #intro .content #site-logo {
        grid-area: logo; }
      #intro .content #site-title {
        grid-area: title; }
      #intro .content #site-intro {
        grid-area: intro; }
      #intro .content .subscribe-links {
        grid-area: subscribe; }
      #intro .content:after {
        grid-area: gradient; } }

.subscribe-links li {
  margin-bottom: 10px; }
  .subscribe-links li a {
    display: inline-block; }
  .subscribe-links li img {
    display: block; }
.subscribe-links .rss-link {
  border: 1px solid #7f7f7f;
  border-radius: 4px;
  padding: 3px 17px 3px 2px; }
  .subscribe-links .rss-link:before {
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
    background-image: url("/irlpodcast/assets/images/icon-subscribe.svg");
    background-repeat: no-repeat;
    content: '';
    display: block;
    float: left;
    height: 20px;
    margin: 6px 10px 0;
    width: 15px; }
@media screen and (min-width: 480px) {
  .subscribe-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .subscribe-links li {
      align-items: center;
      display: flex;
      flex: 0 0 50%;
      margin-bottom: 10px; }
      .subscribe-links li a {
        flex: 0 0 auto; } }

#episodes .content {
  padding-top: 0; }

#episode-list {
  margin-bottom: 0; }

.episode-list-item {
  border-bottom: 1px solid #000;
  padding: 20px; }

.episode .episode-description {
  margin-top: 20px; }
@media screen and (min-width: 760px) {
  .episode {
    display: grid;
    grid-gap: 0 20px;
    grid-template: repeat(4, auto)/260px auto;
    grid-template-areas: "logo title" "logo links" "logo player" "description description"; }
    .episode .episode-image {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      grid-area: logo; }
    .episode .episode-title-wrapper {
      grid-area: title; }
    .episode .episode-links {
      grid-area: links; }
    .episode .episode-player {
      grid-area: player; }
    .episode .episode-description {
      grid-area: description; } }

#episode-list .episode-image {
  display: none; }
  @media screen and (min-width: 760px) {
    #episode-list .episode-image {
      display: block;
      align-self: start;
      height: 180px;
      justify-self: end;
      width: 180px; } }
#episode-list .episode-title-wrapper {
  display: block;
  padding-right: 50px;
  position: relative; }
  #episode-list .episode-title-wrapper:active, #episode-list .episode-title-wrapper:link, #episode-list .episode-title-wrapper:visited, #episode-list .episode-title-wrapper:focus, #episode-list .episode-title-wrapper:hover, #episode-list .episode-title-wrapper:visited:focus, #episode-list .episode-title-wrapper:visited:hover {
    color: #000; }
  #episode-list .episode-title-wrapper:after {
    content: '';
    display: block;
    width: 20px;
    height: 30px;
    background: url("/irlpodcast/assets/images/episode-link-arrow.svg") right center no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    transform: translateX(-4px);
    transition: transform 0.2s ease; }
  #episode-list .episode-title-wrapper:hover:after {
    transform: translateX(0); }
  @media screen and (min-width: 760px) {
    #episode-list .episode-title-wrapper {
      padding-right: 0; }
      #episode-list .episode-title-wrapper:after {
        display: none; } }
#episode-list .episode-links {
  display: none;
  max-width: none; }
  @media screen and (min-width: 760px) {
    #episode-list .episode-links {
      display: flex; } }
#episode-list .episode-player {
  display: none; }
#episode-list .episode-description {
  display: none; }
  @media screen and (min-width: 760px) {
    #episode-list .episode-description {
      display: block;
      padding-left: 80px; } }

.episode-title {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media screen and (min-width: 760px) {
    .episode-title {
      font-size: 28px;
      font-size: 1.75rem; } }

.episode-links {
  display: flex;
  justify-content: space-between;
  max-width: 260px; }
  .episode-links a:before {
    background-position: left bottom;
    background-repeat: no-repeat;
    content: '';
    display: block;
    float: left;
    height: 20px;
    padding-right: 10px;
    width: 15px; }

.episode-subscribe-link:before {
  -webkit-background-size: 15px 15px;
  background-size: 15px 15px;
  background-image: url("/irlpodcast/assets/images/icon-subscribe.svg"); }

.episode-share-link:before {
  -webkit-background-size: 15px 18px;
  background-size: 15px 18px;
  background-image: url("/irlpodcast/assets/images/icon-share.svg"); }

.episode-links .episode-shownotes-link:before {
  -webkit-background-size: 18px 12px;
  background-size: 18px 12px;
  background-image: url("/irlpodcast/assets/images/icon-shownotes.svg");
  width: 18px; }

.episode-link-share,
.episode-player {
  display: none; }

.js .episode-link-share {
  display: list-item; }
.js .episode-player {
  display: block; }
@media screen and (min-width: 760px) {
  .js #episode-list .episode-player {
    display: block; } }

.social-share-links li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0 4px; }
  .social-share-links li a {
    background: #000;
    border-radius: 50%;
    display: block;
    height: 70px;
    overflow: hidden;
    text-indent: 120%;
    width: 70px; }
    .social-share-links li a:before {
      background-size: 50px;
      content: '';
      display: block;
      height: 50px;
      margin: 10px auto;
      width: 50px; }
.social-share-links input {
  border: none;
  display: block;
  margin-top: 20px;
  width: 100%; }
@media screen and (min-width: 480px) {
  .social-share-links ul {
    display: flex;
    justify-content: flex-start; }
  .social-share-links li {
    flex: 0 0 auto;
    margin: 0 20px 0 0; }
    .social-share-links li a {
      margin: 0 auto; } }

.twitter:before {
  background: url("/irlpodcast/assets/images/fa-twitter.svg") top left no-repeat; }

.facebook:before {
  background: url("/irlpodcast/assets/images/fa-facebook.svg") top left no-repeat; }

.copylink:before {
  background: url("/irlpodcast/assets/images/fa-link.svg") top left no-repeat; }

.copy-ok {
  font-style: italic;
  margin-top: 10px;
  opacity: 0; }
  .copy-ok.show {
    -webkit-animation: pebbles-fade-in 0.3s ease-in 0s 1 normal both;
    animation: pebbles-fade-in 0.3s ease-in 0s 1 normal both; }

#footer {
  background: #111;
  top: 0;
  color: #fff;
  height: 50px;
  left: 0;
  margin-bottom: 20px;
  position: fixed;
  width: 100%; }
  #footer .content {
    padding: 10px 20px; }
  #footer a,
  #footer a:active,
  #footer a:focus,
  #footer a:hover,
  #footer a:link,
  #footer a:visited,
  #footer a:visited:focus,
  #footer a:visited:hover {
    color: #fff;
    text-decoration: none; }
  #footer a:focus,
  #footer a:hover,
  #footer a:visited:focus,
  #footer a:visited:hover {
    text-decoration: underline; }
  #footer ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0; }

#modal h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 760px) {
    #modal h4 {
      font-size: 28px;
      font-size: 1.75rem; } }
#modal .subscribe-links {
  display: block;
  margin-top: 40px; }
  #modal .subscribe-links li {
    margin-bottom: 20px;
    text-align: left; }

.modal-content-wrapper {
  display: none; }
  .modal-content-wrapper h4,
  .modal-content-wrapper .modal-copy {
    display: none; }

.credit {
  zoom: 1;
  margin-top: 40px; }
  .credit:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden; }

.credits-image {
  display: block;
  height: 300px;
  margin-bottom: 20px;
  width: 300px; }
  @media screen and (min-width: 760px) {
    .credits-image {
      float: left;
      margin-right: 20px; } }

.svg-about-image img {
  display: block;
  margin: 10px auto 0; }

#footer-links {
  margin: 20px 0 10px; }
  #footer-links ul {
    display: flex; }
  #footer-links li {
    padding-right: 20px; }
    #footer-links li:first-child:after {
      font-size: 24px;
      font-size: 1.5rem;
      content: '·';
      display: inline-block;
      line-height: 1px;
      padding-left: 20px;
      text-align: center;
      width: 2px; }

#show-notes {
  padding-top: 20px; }
  #show-notes:before {
    background-image: -webkit-linear-gradient(left, #ff00fd 0%, #0e00cf 100%);
    background-image: linear-gradient(to right, #ff00fd 0%, #0e00cf 100%);
    content: '';
    display: block;
    height: 2px;
    margin-top: 20px;
    visibility: visible;
    width: 100%;
    margin-bottom: 20px; }
